<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Chess Game</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-zinc-900 text-white flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-2xl font-bold mt-4">Online Chess Game</h1>
    
    <!-- Game Info -->
    <div class="mt-6 space-y-2 text-lg">
        <p id="opponentStatus" class="text-gray-400">Opponent: Offline</p>
        <p id="opponentMove" class="text-yellow-400"></p>
        <p id="playerMove" class="text-green-400"></p>
        <p id="playerId">PlayerID:</p>
        <p id="roomId">RoomID:</p>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-center mt-5 w-full max-w-4xl p-5 gap-6">
        <!-- Chessboard -->
        <div class="relative w-80 h-80 bg-gray-800 rounded-lg shadow-lg chessboard"></div>
        
        <!-- Game Controls -->
        <div class="flex flex-col space-y-4 w-80 p-5 bg-gray-800 rounded-lg shadow-lg">
            <button class="bg-green-600 hover:bg-green-700 text-white text-lg py-2 px-4 rounded" onclick="newGame()">New Game</button>
            
            <form id="joinGameForm" class="flex flex-col space-y-3">
                <label for="formroomIdJoin" class="text-lg">Room ID:</label>
                <input type="text" name="roomId" id="formroomIdJoin" class="p-2 text-black rounded border" required>
                <button class="bg-blue-600 hover:bg-blue-700 text-white text-lg py-2 px-4 rounded" type="submit">Join Game</button>
            </form>
        </div>
    </div>
    
    
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" crossorigin="anonymous"></script>
    <script src="/js/chessgame.js"></script>
</body>
</html>
